/* Now, our styles */
/* Load google fonts*/
@font-face {
  font-family: 'Buenard';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/buenard/v17/OD5DuM6Cyma8FnnsDzD3qQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Xw5aXo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoflex/v8/NaNeepOXO_NexZs0b5QrzlOHb8wCikXpYqmZsWI-__OGfttPZktqc2VdZ80KvCLZaPcSBZtOx2MifRuWR28sPJtUMbsFEK6cRrleUx9Xgbm3WLHa_F4Ep4Fm0PN19Ik5Dntczx0wZGzhPlL1YNMYKbv9_1IQXOw7AiUJVXRrV8cWW4O8LJCoXjCnwSRSaLshNP1d9-EmFw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoflex/v8/NaNeepOXO_NexZs0b5QrzlOHb8wCikXpYqmZsWI-__OGfttPZktqc2VdZ80KvCLZaPcSBZtOx2MifRuWR28sPJtUMbsFEK6cRrleUx9Xgbm3WLHa_F4Ep4Fm0PN19Ik5Dntczx0wZGzhPlL1YNMYKbv9_1IQXOw7AiUJVXRrV8cWW4O8LJCoXjCnwSRSaLshNP1d9-EmFw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/archivoblack/v17/HTxqL289NzCGg4MzN6KJ7eW6CYyF_jzx13E.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#room {
    font-family: 'Roboto Flex', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #f2e6e5;
    /* margin: 30px; */
    border: 5px;
    border-radius: 10px;
    border-color: red;
    /* position: absolute; */
    display: block;
    /* background-color: transparent;   */
    background-color: black; 
 }

#room.darkwall {
    background-color: transparent;
}

#room.lightwall {
    background-color: transparent;  
    color: #1f1d1d;
}

#room.whitewall{
  background-color: white;  
  color: #1f1d1d;
  border-radius: 0px;
}

#room h2{
  font-size: 1.5em;
  font-weight: bold;

}

#room .headline{
  font-size: 4em;
}

#room .center {
  margin: 30px;
  padding-left: 25px;
  }

#room .postertitle  {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

  #room .spacer {
    /* margin-left: 25px;
    margin-right: 25px; */
    margin: 25px;
    }

  #room .squareoff {
    text-align: justify;
    }

  .column {
      float: left;
      width: 50%;
      padding: 10px;
    }
  
/* Clear floats after the columns */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
    }  
    
/* JP */
   /* adding margin only to the side */
   #room .spacer-side {
    margin-left: 25px;
    margin-right: 25px;
    }

    .shadowbox{
      margin-left: 10px;
      margin-right: 10px;
      padding:25px;
      background-color: white;  
      box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
   }

    .lgquote{
      font-family: 'Roboto Flex', sans-serif;
      font-size: 5rem;
      font-weight: 900;
      color: #8E9097;
    }
    /*font styles*/
    .wavy{
      text-decoration-line: underline;
      text-decoration-style: wavy;
    }

    .emphasis{
      font-weight: 800;
    }

    .oblique {
      font-style:italic;
    }
    
    .quote {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      color: #DCDCDC;
    }
    
    .keyPoint {
      color: #78cfa8;
      font-weight: bold;
    }
    .largerText{
      font-size: 3em;
    }

    /*sizing image*/
    .full {
      padding: 0;
      margin:0;
      width: 100%;
      height: auto;
    }
    img.centerImg {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    /* label vue-app */
    .labelTitle {
      font-size:1.2em;
      font-weight: bold;
      line-height: 1.6;
    }
    .labelVid{
      font-size: 2.5rem;
    }
    .labelLgTitle{
      font-size:6em;
      font-weight: bold;
    }

    .labelLgBody{
      font-size:5em;
    }
    
/* History Gallery */
#room h2.history_title {
  text-align: left;
  font-size: 2rem;
  float: left;
  padding-bottom: 10px;
}
.history_subtitle{
  background-color: #E3E3E3;
  padding: 0 6px;
  display: inline;
  float: right;
}

.history_spacer-side{
  margin: 20px 60px;
}
.history_year{
  font-size: 2rem;
  font-weight: 100;
  opacity: 0.8;
  float: right;
  /* text-align: right;
  position: absolute;
  top: 30px;
  left:465px; */
  font-family: 'Montserrat', sans-serif;
}
.history_hr{
  clear: both;
  border: 2px solid #E3E3E3;
  background-color: #E3E3E3;
}
.history_hr2{

  border: 0;
  border-bottom: 3px dotted #E3E3E3;
  padding-top:9px;
}
#room.ivorywall{
  background: #F9EFE4;
  color:#42487C;
  font-family: 'Buenard', serif;
  border-radius: 0;
}

/* title vue-app */
.titleStyle {
  font-size: 2em;
  font-weight: bold;
  padding: 5px;
  text-shadow: 1px 0 2px black, 1px 0 4px white, 0 1px 2px black, 0 1px 4px white, -1px 0 2px black, -1px 0 4px white, 0 -1px  2px black, 0 -1px  4px white;
}

a img {
  display: block;
}
/* anchor styles */
a:hover {
  color: white;
  background:#2370FD ;
}
.alink {
  color: #2370FD ;
  text-decoration: underline;
}
.alink:hover {
  color: white;
  background:#2370FD ;
}
.alink a:hover {
  color: white;
  background:#2370FD ;
}

.alink_img {
  margin: 2px;
}
.alink_img:hover {
  outline: #2370FD solid 2px;

}

/* ########################### */
/* ########################### */
/* future */
#room.future {
  background: transparent;
  color:#000000;
  font-family: 'Source Sans Pro', serif;

  border-radius: 0;
}

#room h2.future_title {
  font-family: 'Archivo Black';
  text-align: left;
  font-weight: 800;
  font-size: 2.3rem;
  padding-bottom: 10px;
  padding:0 0 0 30px;
} 

.future_content{
  padding: 30px;
  font-size: 1.1rem;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.present{
  color:black;
}
.probable{
  color:#00DEFE;
}

.plausible{
  color:#4af0a4;
}
.possible{
  color:#aa97ff;
}

.ref{
  width: 45%;
  float: right;
  background-color: white;
  padding: 10px;
  font-size:.9rem;
  text-align: left;
  border-radius: 2px;

}
.author{
  font-weight: 600;
}

/*
.future_line{
  width: 170px;
	height: 10px;
  margin-left: 30px;
	transform: skew(20deg);
	background: black;
}


.future_line{
  width: 170px;
	height: 10px;
  margin-left: 30px;
	transform: skew(20deg);
	background: black;
}
*/
.line_probable{
  background: #00DEFE;
}

.line_plausible{
  background: #4af0a4;
}
 
.line_possible{
  background:#aa97ff;
}


